@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(90deg, #FFF -16.07%, #002858 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 4.4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.form-container h2 {
    font-weight: bold;
}

.container input {
    background-color: #eeeeee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.container a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}


.container button {
    background-color: #003677;
    color: white;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 12px;
    padding: 10px 30px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.iniciar-sesion {
    left: 0;
    width: 50%;
}

.container-der {
    background: linear-gradient(90deg, rgba(255, 200, 54, 0.00) -56.5%, #FFC836 100%);
    position: absolute;
    border-radius: 130px 0 0 130px;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
}

.container-der img {
    margin: 175px 0 40px 40px;
    width: 300px;
    height: 100px;
}

/* Inicio - Cargddor de pagina */

:root {
    --main-color: #ecf0f1;
    --point-color: #555;
    --size: 5px;
  }
  
  .cargador {
    background-color: var(--main-color);
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center;  
    z-index: 100000;
  }
  
  .cargador-elemento {
    border-radius: 100%;
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size)*2);
  }
  
  .cargador-elemento:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
  }
  .cargador-elemento:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
  }
  
  .cargador-elemento:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
  }
  
  @keyframes preloader {
    100% { transform: scale(2); }
  }

/* Final - Cargador de pagina */